/* Coolors Exported Palette - coolors.co/00bfb2-1a5e63-028090-f0f3bd-c64191 */

/* HSL */
$color1: hsla(176%, 100%, 37%, 1);
$color2: hsla(184%, 58%, 25%, 1);
$color3: hsla(187%, 97%, 29%, 1);
$color4: hsla(63%, 69%, 85%, 1);
$color5: hsla(324%, 54%, 52%, 1);

/* RGB */
$color1: rgba(0, 191, 178, 1);
$color2: rgba(26, 94, 99, 1);
$color3: rgba(2, 128, 144, 1);
$color4: rgba(240, 243, 189, 1);
$color5: rgba(198, 65, 145, 1);